@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.table-item:hover {
  background-color: lightblue;
  cursor: pointer;
}

.selected-row {
  font-style: italic;
  color: darkgray;
}
